body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: Black;
}

.Photo-1, .Photo-2, .Photo-3, .Photo-4 {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: darkblue;
  background-size: cover;
  min-height: 30%;
}

.Photo-1 {
  background-image: url("John\ portrait.jfif");
  min-height: 100%;
  background-size: auto;
}

.textSection {
  background-color:darkblue;
  padding:50px 80px;
}

.Photo-2 {
  background-image: url("John\ Photo.jfif");
}

.Photo-3 {
  background-image: url("John\ 3.jpg");
}

.Photo-4 {
  background-image: url("John\ 4.jpg");
}
.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
  text-align:center
}

.border {
  background-color: Black;
  color: White;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.title {
  padding: 30px 80px;
}

.navigation{
  padding: 10px 80px;
  background-color: black;
}

.quizButton1, .quizButton2, .quizButton3, .quizButton4, .quizButton5, .quizButton6, .quizButton7, .quizButton8, .quizButton9, .quizButton10 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  display: inline-block
}

.question1, .question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10 {
  font-size: 24px;
}

p, li {
  color: white;
  font: 12px;
}

a {
  color: white;
}
